{
	"account": "BotAccountName",
	"token": "xxxxxxxxxxxxxxxx",

	"command": "C:\\Programs (self-installed)\\lc0-dx12 0.26\\lc0.exe",

	"options": {
		"WeightsFile": "C:\\Users\\Owner\\Documents\\Misc\\Chess\\Lc0 Networks\\63409",
		"SyzygyPath": "C:\\Users\\Owner\\Documents\\Misc\\Chess\\Syzygy",
		"Temperature": 1.0,
		"TempDecayMoves": 14,
		"MoveOverheadMs": 800
	},

	"node_count": null,

	"min_tc_secs": 0,
	"max_tc_secs": 300,
	"min_inc_secs": 1,
	"max_inc_secs": 5,

	"variants": ["standard", "chess960"],

	"blacklist": [],
	"whitelist": [],

	"allow_bots": true,

	"open": true
}
